@model TransactionResponseModel

@{
    ViewData["Title"] = "Transaction";
    int count = 0;
    int _pageNo = Model.pageNo;
    int _pageCount = Model.pageCount;
    int _pageSize = Model.pageSize;
    string _sortField = Model.sortField ?? "Id";
    string _sortOrder = Model.sortOrder ?? "asc";

    string _pageURL(int _pageNo, string _sortField, string _sortOrder)
    {
        return $"/Transaction/Index?pageNo={_pageNo}&pageSize={_pageSize}&sortField={_sortField}&sortOrder={_sortOrder}";
    }
}
<td>
    <a href="/Products/ProductIndex" class="btn btn-outline-primary">Products</a>
</td>
<td>
    <p></p>
</td>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <a href="@_pageURL(_pageNo, "Id", _sortOrder == "asc" ? "desc" : "asc")">
                    ID @(_sortField == "Id" ? (_sortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th scope="col">
                Product Id
            </th>
            <th scope="col">
                Quantity
            </th>
            <th scope="col">
                <a href="@_pageURL(_pageNo, "TransactionDate", _sortOrder == "asc" ? "desc" : "asc")">
                    Transaction Date @(_sortField == "TransactionDate" ? (_sortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (TransactionModel item in Model.transactionData)
        {
            <tr>
                <th scope="row">@(++count + (_pageNo - 1) * _pageSize)</th>
                <td>@item.Id</td>
                <td>@item.productId</td>
                <td>@item.Quantity</td>
                <td>@item.TransactionDate</td>
                <td>
                    @* <a href="/Products/Edit/@item.Id" class="btn btn-warning">Edit</a>
                    <a href="/Products/Delete/@item.Id" class="btn btn-danger">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <nav aria-label="...">
                    <ul class="pagination">
                        @if (_pageNo == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="@_pageURL(_pageNo - 1, _sortField, _sortOrder)">Previous</a></li>
                        }

                        @if (_pageCount <= 9)
                        {
                            for (int i = 1; i <= _pageCount; i++)
                            {
                                if (_pageNo == i)
                                {
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="@_pageURL(i, _sortField, _sortOrder)">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@_pageURL(i, _sortField, _sortOrder)">@i</a></li>
                                }
                            }
                        }
                        else
                        {
                            if (_pageNo <= 3 || _pageCount - 2 <= _pageNo)
                            {
                                for (int i = 1; i <= 4; i++)
                                {
                                    if (_pageNo == i)
                                    {
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="@_pageURL(i, _sortField, _sortOrder)">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="@_pageURL(i, _sortField, _sortOrder)">@i</a></li>
                                    }
                                }
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                for (int i = _pageCount - 3; i <= _pageCount; i++)
                                {
                                    if (_pageNo == i)
                                    {
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="@_pageURL(i, _sortField, _sortOrder)">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="@_pageURL(i, _sortField, _sortOrder)">@i</a></li>
                                    }
                                }
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="@_pageURL(1, _sortField, _sortOrder)">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                for (int i = _pageNo - 2; i <= _pageNo + 2; i++)
                                {
                                    if (_pageNo == i)
                                    {
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="@_pageURL(i, _sortField, _sortOrder)">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="@_pageURL(i, _sortField, _sortOrder)">@i</a></li>
                                    }
                                }
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="@_pageURL(_pageCount, _sortField, _sortOrder)">@_pageCount</a></li>
                            }
                        }

                        @if (_pageNo == _pageCount)
                        {
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="@_pageURL(_pageNo + 1, _sortField, _sortOrder)">Next</a></li>
                        }
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
